body {
  font-family: serif;
}
#ruby {
  display: none;
  margin:auto;
  padding: 15px 15px 10px 15px;
  width: 50vw;
  margin-top: 15vw;
}
#javascript {
  display: none;
  margin:auto;
  padding: 15px 15px 10px 15px;
  width: 50vw;
  margin-top: 15vw;
}
#cSharp {
  display: none;
  margin:auto;
  padding: 15px 15px 10px 15px;
  width: 50vw;
  margin-top: 15vw;
}
#survey {
  text-align: center;
  display: block;
}
#card1 {
  /* display: none; */
  text-align: center;
  margin: auto;
  width: 65vw;
  margin-top: 15vw;
  padding: 15px 4px 15px 4px;
  display: block;
}
#greeting {
  text-align: center;
  font-family: 'Cormorant Garamond';
}
#person1 {
  margin: auto;
  width: 35%;
}
#surveyCard {
  display: none;
  margin: auto;
  width: 60vw;
  margin-top: 12vw;
  padding: 10px 10px 10px 10px;
}
#surveyIntro {
  font-size: 2.1em;
  font-family: 'Cormorant Garamond';
  margin:auto;
  width: 85%;
  margin-bottom: 7px;
}
.questionCard {
  margin: 10px 0px 10px 0px;
  background-color: rgb(235, 225, 225);
}
#surveyP2 { 
  color: lightgrey;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-top: 0px;
}
.emphasisAnswer {
  text-align: center;
  font-size: 3em;
}
.greetP1 {
  text-align: center;
}















