#ruby {
  display: none;
}

#javascript {
  display: none;
}

#cSharp {
  display: none;
}

#survey {
  text-align: center;
  display: block;
}


#name {
  text-align: center;
}

#card1 {
  margin: auto;
  width: 65vw;
  margin-top: 15vw;
  padding: 2px 4px 4px 4px;
  display: block;
}

#greeting {
  text-decoration: underline;
}

#person1 {
  margin: auto;
  width: 35%;
}

#surveyCard {
  display: none;
  margin: auto;
  width: 65vw;
  margin-top: 15vw;
  padding: 10px 10px 10px 10px;
}

#surveyIntro {
  margin:auto;
  width: 65%;
  margin-bottom: 10px;
}